#---------------------------------------------
# Fano Web Framework (https://fanoframework.github.io)
#
# @link      https://github.com/fanoframework/fano
# @copyright Copyright (c) 2018 Zamrony P. Juhara
# @license   https://github.com/fanoframework/fano/blob/master/LICENSE (MIT)
#------------------------------------------------

#---------------------------------------------------------
# This file is just alias to actual config file in src/fano.cfg
# This file is provided so older build script (build.sh)
# can still work
#---------------------------------------------------------

#INCLUDE $FANO_DIR$/src/fano.cfg
